<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Main.master.cs" Inherits="Presentation.Main" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <a href="Inicio.aspx">Inicio</a>
        <a href="WFProducts.aspx">Productos</a>
        <a href="WFCategories.aspx">Categorias</a>
        <a href="WFOrders.aspx">Pedidos</a>
        <a href="WFOrderDetails.aspx">Detalles_pedidos</a>
        <a href="WFPayments.aspx">Pagos</a>
        <a href="WFProviders.aspx">Proveedores</a>
        <a href="WFCustomers.aspx">Clientes</a>
        <a href="WFCart.aspx">Carrito</a>
        <a href="WFComments.aspx">Comentarios</a>
        <a href="WFUsers.aspx">Usuarios</a>
        <a href="Login.aspx">Cerrar Sesion</a>
        <div>
            
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
